<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="../public/css/editproject.css">
    </head>
    <body>
        <nav class = "navbar navbar-expand-lg navbar-light bg-light" style="height: 8vh;">
            <div class="container-fluid" >
                <a class="navbar-brand" href="/">
                    <img src="../public/img/DWS.png" width="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form-blog">Add Project</a>
                        </li>
                    </ul>
                    <a href="/contact" class="btn btn-dark">Contact Me</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 92vh;">
            <div class="container-form " style="width: 500px;">
                <h2 class="mb-3 text-center">EDIT PROJECT</h2>
                <form action="/edit-blog" method="POST">
                    <div class="mb-3">
                        <label for="input-title" class="form-label">Project Name</label>
                        <input type="text" id="input-title" class="form-control" name="dataName">
                    </div>
                    <div class="row mb-3">
                        <div id="showStartDate" class="col">
                            <label for="input-start-date" class="form-label">Start Date</label>
                            <input type="date" id="input-start-date" class="form-control" name="dataStartDate" value="2022-12-02" min="2022-10-25">
                        </div>
                        <div id="showEndDate" class="col">
                            <label for="input-end-date" class="form-label">End Date</label>
                            <input type="date" id="input-end-date" class="form-control" name="dataEndDate" value="2022-12-05" min="2022-10-25">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="input-content" class="form-label">Description</label>
                        <textarea id="input-content" class="form-control"  cols="20" rows="5" style="resize: none;" name="dataDescription"></textarea>
                    </div>
                    <div class="mb-2">
                        <label>Technologies</label>
                    </div>
                    <div class="row row-cols-2 ms-1 mb-3">
                        <div class="form-check col">
                            <input class="form-check-input" type="checkbox" id="data-Node-JS" name="dataTechnologies" checked value="fa-brands fa-node-js">
                            <label class="form-check-label" for="data-Node-JS">Node JS</label>
                        </div>
                        <div class="form-check col">
                            <input class="form-check-input" type="checkbox" id="data-Next-JS"  name="dataTechnologies" value="fa-brands fa-square-js">
                            <label class="form-check-label" for="data-Next-JS">Next JS</label>
                        </div>
                        <div class="form-check col">
                            <input class="form-check-input" type="checkbox" id="data-React-JS" name="dataTechnologies" value="fa-brands fa-react">
                            <label class="form-check-label" for="data-React-JS">React JS</label>
                        </div>
                        <div class="form-check col">
                            <input class="form-check-input" type="checkbox" id="data-TypeScript"  name="dataTechnologies" value="fa-brands fa-android">
                            <label class="form-check-label" for="data-TypeScript">TypeScript</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="input-blog-image" class="form-label">Upload Image</label>
                        <input type="file" id="input-blog-image" class="form-control" name="dataImage">
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark rounded-pill ps-4 pe-4">edit</button>
                    </div>
                </form>
            </div>
        </div>
        
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>