body {
    margin: 0;
}

.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label {
    font-size: 20px;
    font-weight: 500;
}


.custom-input-title, .custom-input-content{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
}

.custom-input-start-date, .custom-input-end-date{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
}

.blog-form form textarea {
    height: 250px;
}

.input-image-content{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
    
}


.custom-button-image {
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(158, 158, 158);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    cursor: pointer;
}

.blog-list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 100px 0px 250px;
}

.blog-list-item {
    width: 350px;
    padding: 15px;
    margin-bottom: 75px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    background-color: #ffffff;
}

.blog-image {
    flex: 1;
}

.blog-image img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
    padding-left: 20px;
    flex: 2;
}

.blog .blog-list h1{
    margin-bottom: 5px
}

.blog .blog-list h1 a {
    font-size: medium;
    text-decoration: none;
    color: #000000;
}

.blog .blog-list .detail-blog-content {
    margin-top: 0;
    color: #777777;
    font-weight: 300;
    font-size: 12px;
}

.parg-content{
    overflow: hidden;
    height: 150px;
    margin-bottom: 45px;
    background-color: white;
}

.blog .blog-list .blog-list-item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}
 
.btn-group {
    text-align: right;
    margin-bottom: 20px;
}

.btn-edit {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #dbdbdb;
    }

.btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #ec4d37;
    color: #fff;
}