<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="../public/css/blog-detail.css">
    </head>
    <body>
        <nav class = "navbar navbar-expand-lg navbar-light bg-light" style="height: 8vh;">
            <div class="container-fluid" >
                <a class="navbar-brand" href="/">
                    <img src="../public/img/DWS.png" width="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/form-blog">Add Project</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav me-5">
                        {{if .Status.StatLogin}}
                        <li>
                            <a href="" class="nav-link me-5">Hello, {{.Status.UserName}}</a>
                        </li>
                        <li>
                            <a href="/logout" class="nav-link">Logout</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a href="/form-register" class="nav-link me-5">Register</a>
                        </li>
                        <li class="nav-item">
                            <a href="/form-login" class="nav-link" >Login</a>
                        </li>
                        {{end}}
                    </ul>
                    
                    <a href="/contact" class="btn btn-dark">Contact Me</a>
                </div>
            </div>
        </nav>

        <div id="detail-content" class="detail-blog">
            <div class="detail-blog-card">
                <h1 class="detail-blog-title">
                    {{.Blog.Name}}
                </h1>
                <div class="detail-blog-info">
                    <div>
                        <img src= "../uploads/{{.Blog.Image}}" style="width: 85%; height: 500px; object-fit: cover;">
                    </div>
                    <div class="detail-tech-dur">
                        <div class="detail-dur">
                            <label>Duration</label>
                            <p><i class="fa-regular fa-calendar-days"></i>  {{.startDate}}  -  {{.startEnd}}</p>
                            <p><i class="fa-regular fa-clock"></i>  {{.Blog.Duration}}</p>
                        </div>
                        <div class="detail-tech">
                            <label>Technologies</label>
                            <div class="detail-tech-list">
                                {{if .Blog.NodeJS}}
                                <p><i class="fa-brands fa-node-js"></i>  Node JS</p>
                                {{end}}
                                {{if .Blog.NextJS}}
                                <p><i class="fa-brands fa-square-js"></i>  JavaScript</p>
                                {{end}}
                                {{if .Blog.ReactJS}}
                                <p><i class="fa-brands fa-react"></i>  React JS</p>
                                {{end}}
                                {{if .Blog.TypeScript}}
                                <p><i class="fa-brands fa-android"></i>  Android</p>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="detail-blog-content">
                    {{.Blog.Description}}
                </p>
            </div>
        </div>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--
    <script src="assets/blog-detail.js"></script>-->
</html>